<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.qts.demo1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.mysurgery.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_h"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActLogin" />
        <activity android:name=".ActNewUser" />
        <activity android:name=".ActNewUser1" />
        <activity android:name=".ActNewUser2" />
        <activity android:name=".ActHome" />
        <activity android:name=".ActSetting" />
        <activity android:name=".ActMyProfile" />
        <activity android:name=".ActBackground" />
        <activity android:name=".ActDocuments" />
        <activity
            android:name=".ActLongClickGV"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".ActHistory" />
        <activity android:name=".ActCustomProfile" />
        <activity android:name=".ActBranchs" />
        <activity
            android:name=".ActLongClickLV"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity android:name=".ActonClickLV" />
        <activity android:name=".ActTabHost" />
        <activity android:name=".ActStory" />
        <activity android:name=".ActQuangNam" />
        <activity android:name=".ActOther" />
        <activity android:name=".SingleItemView" />
        <activity android:name=".ActContacts" />
        <activity android:name=".ActNewContacts" />
        <activity android:name=".ActViewContacts" />
        <activity android:name="com.company.qts.apiget.PostDetailActivity" />
        <activity android:name="com.company.qts.apiget.ActMain" />
        <activity android:name="com.company.qts.apipost.LoginActivity" />
        <activity android:name="com.company.qts.apipost.MainAct" />
        <activity android:name="com.company.qts.hei.ActHEILogin" />
        <activity android:name="com.company.qts.hei.ActHEISplash" />
        <activity android:name="com.company.qts.hei.ActHEISpirits" />
        <activity android:name="com.company.qts.hei.ActHEIDrink" />
        <activity android:name="com.company.qts.hei.ActHEIInfo" />
        <activity android:name=".ActPicasso" />
        <activity android:name=".ActZoomImage" />
        <activity android:name=".ActSerializable" />
        <activity android:name=".ActShowObject" />
        <activity android:name=".ActShowArray" />
        <activity android:name="com.company.qts.fragment.Frm1" />
        <activity android:name="com.company.qts.fragment.Frm2" />
        <activity android:name=".ActFragment" />
        <activity android:name=".ActShowFrm" />
        <activity android:name=".ActMainFrm" />
        <activity android:name=".ActFragmentMain" />
        <activity
            android:name=".ActTabHost2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name=".ActListBlue" />
        <activity android:name=".ActTabHost3" />
        <activity
            android:name=".ActSiderMenu"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ActSiderMenu2"
            android:label="@string/title_activity_act_siling_meu2"
            android:theme="@style/AppTheme" />
        <activity android:name=".ActShowGVGame" />
        <activity
            android:name=".ActShowMovies"
            android:configChanges="orientation|screenSize|screenLayout|uiMode" />
        <activity android:name=".ActParallaxMenuSiderTabHost" />
        <activity android:name=".ActShowMovies1" />
        <activity android:name=".ActFootball" />
        <activity android:name=".ActNewFootball" />
        <activity android:name=".ActLoadMoreAPI"></activity>
    </application>

</manifest>